<h3>Listado de heroes</h3>
<div *ngIf="deleteHero; else nadaABorrar">

  <h3>Heroe Borrado <small class="text-danger">{{deleteHero}}</small></h3>
</div>

<ng-template #nadaABorrar>
  <h3>Nada a Borrar</h3>

</ng-template>


<button
*ngIf="heroNames.length > 0"
(click)="removeLastHero()"
 class="btn btn-outline-danger">
  Borrar ultimo Heroe
</button>


<ul class="mt-2 list-group">
  <li
  *ngFor="let name of heroNames"
  class="list-group-item">{{name}}</li>

</ul>
<!-- en ngfor itera todos los elementos del arreglo y crea los listas -->
